@keyframes scroll {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 0% 200%;
    }
}

body, html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background: radial-gradient(circle, #07faa1, #a3a0d7, #0bd4ff);
    background-size: 100% 200%; /* Set initial background size */
    animation: scroll 5s infinite linear;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes typing-animation {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

h1 {
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    border-right: 2px solid #333;
    white-space: nowrap;
    margin: 0;
    animation: typing-animation 2s steps(20);
}

h4 {
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    border-right: 2px solid #333;
    white-space: nowrap;
    margin: 0;
    animation: typing-animation 3s steps(20);
}

h1:last-child, h4:last-child {
    border-right: none; /* Remove border from the last-child of h1 and h4 */
}

.contact-button {
    width: 60px;
    height: 60px;
}

.headshot {
    width: 200px;
    height: 200px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 70px;
}

